

    <app-navbar></app-navbar> 

    <br> <br>   
    <h1 style="text-align: center;font-size:55px;font-family:Snell Roundhand,cursive;color:#FF3E41 ;"><b>Search User</b><h1>
     
        <form class="form-inline" style="margin-top: 3%;">
                <div class="form-group mx-sm-3 mb-2">
                <label   for="inputText" style="font-size:24px;font-family:Snell Roundhand,cursive;">inter user name here:</label>
                <input type="text" class="form-control"
                id="inputText" placeholder="searchname" [(ngModel)]="fname" (change)="SreachInput($event)">
               <br>
                <button type="submit"
                class="btn btn-success"
                (click)="search()">Search</button>
        </div>
                </form>
          


            <br>
        <table class="center">
            <tr>
                
                <th> First Name</th>
                <th>Last Name</th>
                <th>Image</th>
                <th>Question</th>
                <th>Question Date</th>
                <th colspan="2">Action</th>
        
            </tr>
        
          
            <tr *ngFor="let obj of home.search">
                
                <td>{{obj.fname}}</td>
                <td>{{obj.lname}}</td>
                <td>{{obj.email}}</td>
                <td><img src="../../../assets/img/{{obj.welcome_Iamge}}" width="100px" height="100px"></td>
                <td>{{obj.messege}}</td>
                <td>{{obj.askingdate}}</td>
              
        
   
              
            
         
            </tr>
          
        </table>






    <app-footer></app-footer> 
