
<aside id="sidebar" class="nano">
  
    <div class="nano-content">
      <div style="color: rgb(248, 19, 19); font-family: Cursive;" class="logo-container">Asking</div>
      <menu class="menu-segment">
        <ul style="list-style-type:none;font-size: 17px;color: rgb(248, 19, 19);">
          

          <li  style="color: rgb(244, 244, 244); font-family: Cursive;"class="active"><a routerLink="/admin/dashbord">Dashboard</a></li>
          <li><a style="color: rgb(244, 244, 244); font-family: Cursive;"routerLink="/admin/manageuser">Users Details</a></li>
          <li><a style="color: rgb(244, 244, 244); font-family: Cursive;"routerLink="/admin/manageasking">Manage Asking</a></li>
          <li><a style="color: rgb(244, 244, 244); font-family: Cursive;"routerLink="/admin/managecategory">Manage Category</a></li>
          <li><a style="color: rgb(248, 248, 248); font-family: Cursive;"routerLink="/admin/manageCommonquestion">Manage Common Question</a></li>
          <li><a style="color: rgb(244, 244, 244); font-family: Cursive;"routerLink="/admin/managehome">Manage Home Page</a></li>
          <li><a style="color: rgb(244, 244, 244); font-family: Cursive;"routerLink="/admin/manageaboutus">Manage About Page</a></li>
          <li><a style="color: rgb(244, 244, 244); font-family: Cursive;" routerLink="/admin/managecontact">Admin Contact</a></li>
          <li><a style="color: rgb(244, 244, 244); font-family: Cursive;"routerLink="/admin/manageTestmonial">Testmonial </a></li>
          <li><a style="color: rgb(244, 244, 244); font-family: Cursive;"routerLink="/admin/Report">Report </a></li>
          <li><a style="color: rgb(244, 244, 244); font-family: Cursive;"routerLink="/auth">Logout</a></li>

          

          
        </ul>
      </menu>
      
      




    </div>
  </aside>

