<aside id="sidebar" class="nano">
    <div class="nano-content">
      <div class="logo-container">Asking</div>
      <menu class="menu-segment">
        <ul style="list-style-type:none">
          
          <li class="active"><a routerLink="/admin/dashbord">Dashboard</a></li>
          <li><a href="#">Admin Profile</a></li>
          <li><a routerLink="/admin/manageuser">Users Details</a></li>
          <li><a routerLink="/admin/manageasking">Manage Asking</a></li>
          <li><a routerLink="/admin/managecategory">Manage Category</a></li>
          <li><a routerLink="/admin/manageCommonquestion">Manage Common Question</a></li>
          <li><a routerLink="/admin/managehome">Manage Home Page</a></li>
          <li><a routerLink="/admin/managecontact">Manage Contact Page</a></li>
          <li><a routerLink="/admin/manageaboutus">Manage About Page</a></li>
          <li><a href="#">Admin Contact</a></li>
          <li><a routerLink="/admin/manageTestmonial">Testmonial </a></li>
          <li><a routerLink="/admin/Report">Report </a></li>
          <li><a routerLink="/auth">Logout</a></li>
          

          
        </ul>
      </menu>
      
      




    </div>
  </aside>

