<aside id="sidebar" class="nano">
    <div class="nano-content">
      <div class="logo-container">Asking</div>
      <menu class="menu-segment">
        <ul style="list-style-type:none">
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">Users Details</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Manage Asking</a></li>
          <li><a href="#">Manage Category</a></li>
          <li><a href="#">Manage Common Question</a></li>
          <li><a href="#">Manage Home Page</a></li>
          <li><a href="#">Manage About Page</a></li>
          <li><a href="#">Admin Contact</a></li>
          <li><a href="#">Testmonial </a></li>
          <li><a href="#">Report monthly</a></li>
          <li><a href="#">Report Yearly</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </menu>





    </div>
  </aside>
  <main id="main">


 
  </main>
