<h1 style="text-align: center;font-size:55px;font-family:Snell Roundhand,cursive;color:#FF3E41 ;"><b>Testimonial</b><h1><br>
  <h2 style="text-align: center;"><b>What Our  client say ?</b><h2><br>





<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">

  <div class="carousel-inner py-4" >
    <!-- Single item -->
    <div class="carousel-item active" >
      <div class="container">
        <div class="row">
          <div class="col-lg-4" *ngFor="let obj of home.test" >
            <div *ngIf="(obj.itsapprove)==1">
            <img class="rounded-circle shadow-1-strong mb-4"
            src="../../../assets/img/{{obj.image_Path}}" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">{{obj.fname}}  {{obj.lname}}</h5>
            <p>Client</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              {{obj.messege}}
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Inner -->
</div>


