<app-sidebar></app-sidebar>

<br>




<h1 style="text-align: center;font-size:33px;"><b>Admin Contact</b><h1><br><br>

<table class="center">
    <tr>
        <th> Number</th>
        <th>Messege</th>
        <th>User Name</th>

        <th colspan="2">Action</th>

    </tr>

  
    <tr *ngFor="let obj of home.Contactus">
        
        <td>{{obj.id}}</td>
        <td>{{obj.messege}}</td>
        <td>{{obj.name}}</td>

        <td>

            
          <button style="background-color: #f44336;;color: rgb(253, 252, 252);color: #fff;
          border:none;
        border-radius:9px;" (click)="openDeleteDailog(obj.id)">Delete</button>
      

        </td>
 
    </tr>
  
</table>



 <ng-template #callDeleteDailog>
<h2>Are you sure you want to delete this item ? </h2>
<button mat-dialog-close="yes">Yes</button>
<button mat-dialog-close="no">No</button>


 </ng-template>         

