<app-navbar></app-navbar> 


<br> <br>
<h1 style="text-align: center;font-size:55px;font-family:Snell Roundhand,cursive;color:#FF3E41 ;"><b>Asking</b><h1>
    <br>
    <h2 style="text-align: center;font-family:Snell Roundhand,cursive"><b>Put your question here</b><h2>
<br>
    <div class="container-xxl py-5">
        
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-2 wow fadeInUp" data-wow-delay="0.1s">

                </div>
                <div class="col-lg-8">
                    <div class="bg-light text-center p-5 wow fadeIn" data-wow-delay="0.5s">
                        
                        <mat-dialog-content >
                          
                            <form  [formGroup]="create">
                                <div class="row g-9">
                                    <div >
                                        <mat-form-field  class="col-12 col-sm-12">
                                            <mat-label>Question</mat-label>
                                            <textarea class="form-control border-0" rows="6" type="text" matInput formControlName="messege"></textarea>
                
                                            <mat-error *ngIf="create.controls['messege'].hasError('required')">
                                            Question is <strong>required</strong>
                                            </mat-error>
                                            </mat-form-field>
                                    </div>
                                <br>
                           

                               <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>asking date</mat-label>
                                <input type="date" matInput formControlName="askingdate">
                      
                                <mat-error *ngIf="create.controls['askingdate'].hasError('required')">
                                  asking date is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>

                                </div>
      
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit" (click)="saveData()">Submit</button>
                                </div>

                            </form>
                            
                        </mat-dialog-content>
                    
                  </div>
             </div>
         </div> 
      
    </div>
</div>

<app-footer></app-footer> 