<h2 style="text-align: center;font-size:33px;font-family: Cursive; "mat-dialog-title><b>Add User</b></h2>
<mat-dialog-content class="mat-typography">
    <form  [formGroup]="create">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="fname">

          <mat-error *ngIf="create.controls['fname'].hasError('required')">
            First Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
           <br>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input type="text" matInput formControlName="lname">

    <mat-error *ngIf="create.controls['lname'].hasError('required')">
        Last Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
<br>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="text" matInput formControlName="email">

    <mat-error *ngIf="create.controls['email'].hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
<br>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>phone</mat-label>
    <input type="text" matInput formControlName="phone">

    <mat-error *ngIf="create.controls['phone'].hasError('required')">
        phone is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <input type="file" #file formControlName="image_Path" (change)="uploadfile(file.files)">







    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button  style="background-color: #f44336;;color: rgb(253, 252, 252);color: #fff;border:none;border-radius:9px; border: none; outline: none;
  font-size: 20px;margin-top: 10px;margin-left: 9px;"mat-button mat-dialog-close>Cancel</button>
  <button style="background-color: #4CAF50;;color: rgb(253, 252, 252);color: #fff;
  border:none;border-radius:9px;border: none; outline: none;font-size: 20px; margin-top: 10px;"mat-button [mat-dialog-close]="true" cdkFocusInitial  (click)="saveData()">Save</button>

</mat-dialog-actions>
