<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content class="mat-typography">
    <form  [formGroup]="create">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="fname">

          <mat-error *ngIf="create.controls['fname'].hasError('required')">
            First Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
           <br>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input type="text" matInput formControlName="lname">

    <mat-error *ngIf="create.controls['lname'].hasError('required')">
        Last Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
<br>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="text" matInput formControlName="email">

    <mat-error *ngIf="create.controls['email'].hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
<br>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>phone</mat-label>
    <input type="text" matInput formControlName="phone">

    <mat-error *ngIf="create.controls['phone'].hasError('required')">
        phone is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <input type="file" #file formControlName="imagePath" (change)="uploadfileuser(file.files)">






    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial  (click)="saveData()">Save</button>
</mat-dialog-actions>
