
<br><br>
    <h1 style="text-align: center;font-size:55px;font-family:Snell Roundhand,cursive;color:#FF3E41 ;"><b>All Question</b><h1><br>
<div class="container mt-5 mb-5">
    <div *ngFor="let obj of home.report"  class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card"   >
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center"> <img src="../../../assets/img/{{obj.image_Path}}"  width="50" class="rounded-circle">
                        <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"><b>{{obj.fname}}  {{obj.lname}}   </b></span></div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2"></small> <i class="fa fa-ellipsis-h"></i> </div>
                    <!-- Add icon library -->

                </div> 
                <div class="p-2">
                    <p class="text-justify" >{{obj.messege}}</p>
                    <hr>
                   
                    <script src="https://use.fontawesome.com/fe459689b4.js">
                
            </script>
<script src="/assets/js/design.js"></script>
<p>{{numberOfLikes }} </p>
  <button class="btn " id="green" color="green" (click)="clickLike()"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
<p> {{numberOfDislike}}</p>
  <button class="btn" id="red" color="red" (click)="clickDislike()"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>

                    <hr>
                    <div class="comments">
                        <div class="d-flex flex-row mb-2"> <img src="../../../assets/img/{{obj.image_Path}}"  width="40" class="rounded-image">
                            <div class="d-flex flex-column ml-2"> <span class="name">{{obj.fname}}</span> <small class="comment-text">I like this alot! thanks alot</small>
                                <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>18 mins</small> </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-2"> <img src="https://i.imgur.com/1YrCKa1.jpg" width="40" class="rounded-image">
                            <div class="d-flex flex-column ml-2"> <span class="name">Elizabeth goodmen</span> <small class="comment-text">{{comment}}</small>
                                <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>8 mins</small> </div>
                            </div>
                        </div>
                        <div class="comment-input"> <input type="text" [(ngModel)]="comment" class="form-control">
                            
                            <div><button (click)="post()">comment </button></div>
                            <!-- <div class="fonts"> <i class="fa fa-camera"></i> </div> -->
                        </div>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>