<h2 style="text-align: center;font-size:23px;font-family:  Times, serif; "mat-dialog-title>Add Contact us</h2>
<mat-dialog-content class="mat-typography">
    <form  [formGroup]="create">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>name</mat-label>
          <input type="text" matInput formControlName="name">

          <mat-error *ngIf="create.controls['name'].hasError('required')">
            name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
<br>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>messege</mat-label>
    <input type="text" matInput formControlName="messege">

    <mat-error *ngIf="create.controls['messege'].hasError('required')">
      messege is <strong>required</strong>
    </mat-error>
  </mat-form-field>
<br>





    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button  style="background-color: #f44336;;color: rgb(253, 252, 252);color: #fff;border:none;border-radius:9px; border: none; outline: none;
  font-size: 20px;margin-top: 10px;margin-left: 9px;"mat-button mat-dialog-close>Cancel</button>
  <button style="background-color: #4CAF50;;color: rgb(253, 252, 252);color: #fff;
  border:none;border-radius:9px;border: none; outline: none;font-size: 20px; margin-top: 10px;"mat-button [mat-dialog-close]="true" cdkFocusInitial  (click)="saveData()">Save</button>

</mat-dialog-actions>
