<app-sidebar></app-sidebar>
<br>
<h1 style="text-align: center;font-size:33px;"><b>User Deatilas</b><h1><br><br>
<button style="display:block; margin: 0 auto;" class="center" (click)="opendialog()">Create New</button>
<br>
<table class="center">
    <tr>
        <th> Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Image</th>
    </tr>

  
    <tr *ngFor="let obj of home.User">
        
        <td>{{obj.id}}</td>
        <td>{{obj.fname}}</td>
        <td>{{obj.lname}}</td>
        <td>{{obj.phone}}</td>
        <td>{{obj.email}}</td>
        <td><img src="../../../assets/img/{{obj.imagePath}}" width="100px" height="100px"></td>
        <td>{{obj.description_}}</td>
        <td>
            <button (click)="openUpdateDailog(obj)">Update</button>
            <button (click)="openDeleteDailog(obj.id)">Delete</button>
        </td>
 
    </tr>
  
</table>


<ng-template #callUpdatDailog>
    <h2 style="text-align: center;"><b>Update User Info</b></h2>
    <form class="example-form" [formGroup]="updateForm" >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="fname"
          [(ngModel)]="p_data.fname"
          >
          <mat-error *ngIf="updateForm.controls['fname'].hasError('required')">
            First Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>      
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lname"
            [(ngModel)]="p_data.lname"
            >
            <mat-error *ngIf="updateForm.controls['lname'].hasError('required')">
              Last Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br>    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Phone</mat-label>
            <input type="text" matInput formControlName="phone"
            [(ngModel)]="p_data.phone"
            >
            <mat-error *ngIf="updateForm.controls['phone'].hasError('required')">
                phone is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email"
            [(ngModel)]="p_data.email"
            >
            <mat-error *ngIf="updateForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br>
     


        </form>
   
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveData()">Save</button>
    </mat-dialog-actions>



</ng-template>

 <ng-template #callDeleteDailog>
<h2>Are you sure you want to delete this item ? </h2>
<button mat-dialog-close="yes">Yes</button>
<button mat-dialog-close="no">No</button>


 </ng-template>         

