<app-sidebar></app-sidebar>
<br>
<h1 style="text-align: center;font-size:40px;font-family: Times; text-transform: uppercase;"><b>Manage Asking</b><h1><br><br>
  <button style="display:block; margin-top: 20px;margin-left:1300px;text-align: center;

  background-color:#008CBA;;
  color: #fff;
  border:none;
border-radius:9px" class="center" (click)="opendialog()">Create New</button>
  <br>
<table class="center">
    <tr>
        <th> Number</th>
        <th>Its Approve</th>
        <th>Messege</th>
        <th>user ID</th>
        <th colspan="2">Action</th>
        
    </tr>

  
    <tr *ngFor="let obj of home.Asking">
        
        <td>{{obj.id}}</td>
        <td>{{obj.itsapprove}}</td>
        <td>{{obj.messege}}</td>
        <td>{{obj.userId}}</td>

        <td>
          <button style="background-color: #4CAF50;color: rgb(253, 252, 252);color: #fff;
          border:none;
        border-radius:9px;" (click)="openUpdateDailog(obj)">Update</button>
            
          <button style="background-color: #f44336;color: rgb(253, 252, 252);color: #fff;
          border:none;
        border-radius:9px;" (click)="openDeleteDailog(obj.id)">Delete</button>
          <button style="background-color:  rgb(245, 206, 11);color: rgb(253, 252, 252);color: #fff;
          border:none;
        border-radius:9px;"(click)="ApproveReject(obj.id,1)">Approve</button>
            <button style="background-color:  rgb(255, 165, 0);color: rgb(253, 252, 252);color: #fff;
            border:none;
          border-radius:9px;"(click)="ApproveReject(obj.id,0)">Reject</button></td>
 
    </tr>
  
</table>



<ng-template #callUpdatDailog>
  <h2 style="text-align: center;"><b>Update Asking Info</b></h2>
    <form class="example-form" [formGroup]="updateForm" >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Its approve</mat-label>
          <input type="number" matInput formControlName="itsapprove"
          [(ngModel)]="p_data.itsapprove"
          >
          <mat-error *ngIf="updateForm.controls['itsapprove'].hasError('required')">
            itsapprove is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>messege</mat-label>
            <input type="text" matInput formControlName="messege"
            [(ngModel)]="p_data.messege"
            >
            <mat-error *ngIf="updateForm.controls['messege'].hasError('required')">
                messege is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>user Id</mat-label>
            <input type="text" matInput formControlName="userId"
            [(ngModel)]="p_data.userId"
            >
            <mat-error *ngIf="updateForm.controls['userId'].hasError('required')">
                user Id is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br>
     


        </form>
   
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveData()">Save</button>
    </mat-dialog-actions>



</ng-template>

 <ng-template #callDeleteDailog>
<h2>Are you sure you want to delete this item ? </h2>
<button mat-dialog-close="yes">Yes</button>
<button mat-dialog-close="no">No</button>


 </ng-template>         

